# OUTPUT
/dist
/node_modules
/build

# Logs
logs
*.log
pnpm-debug.log*

# OS
.DS_Store

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local